:root{
    --background: white;
    --boardBackgroundColor: black;
    background-color: var(--background);
    color: var(--boardBackgroundColor);
    font-size: 16px;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0px;
    margin: 0px;
}

#instructions{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 1;
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    top: 50%;
    margin-top: -75px;
    left: 50%;
    margin-left: -75px;
    background-color: var(--background);
    color: var(--boardBackgroundColor);
    box-shadow: 0px 0px 5px var(--background);
}
#instructions > button{
    display: block;
    width: 50px;
    height: 30px;
    border-radius: 5px;
    background-color: var(--boardBackgroundColor);
    color: var(--background);
    font-weight: bold;

}

#container{
    width: 30vw;
    height: 60vh;
    background-color: var(--boardBackgroundColor);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

#container > div{
    border: solid 2px var(--background);
    color: var(--background);
}

@media (prefers-color-scheme: dark) {
    :root{
        --background: black;
        --boardBackgroundColor: white;
    }
}