body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#gameboard{
    width: max(60vh,250px);
    height: 60vh;
    background-color: black;
}